{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}


<div class="bg-dark mt-3">
    <h3 class="p-3 text-light text-center">Inventory Management System </h3>
</div>
    <div style="margin-left: 50%">
        <img src="{{ asset('images/kola.jpeg') }}" style="width: 180px;height: 180px">
    </div>

<div style="width: 50%; margin-left:25%;margin-top:8%;background:lightgray;">
<div class="container">
   <a href="{{path('register')}}" class="btn btn-info float-right my-2">Registration Now</a>
<div>

<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h3 class=" mb-2 font-weight-normal ">Please sign in</h3>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >



    <button class="btn btn-md btn-primary mt-3" type="submit">
        Sign in
    </button>
</form>
</div>
</div>
</div>
{% endblock %}
