{% extends 'base.html.twig' %}
    {% block stylesheets %}
        {{ parent() }}
    {% endblock %}

{% block title %}StockIn index{% endblock %}

{% block body %}

    <div class="container">
        <h3 class=" text-dark p-2 mt-2">Stock In List</h3>

        <a href="{{ path('stock_in_new') }}" class="btn btn-info float-right" style="margin-right:160px;">Create
            new</a>

        <div class="d-flex justify-content-center mb-2 mt-5 ">
            <div id="myGrid" data-url="{{ path('stock_in_grid') }}" class="ag-theme-alpine" style="height:300px;
        width:750px;">
            </div>
        </div>
    </div>

{#    <a href="{{ path('product_index') }}" class="btn btn-secondary m-1">Product Home</a>#}

{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('tools/agGrid/ag-grid-stock-in.js') }}"></script>
    {% endblock %}


