{% extends 'base.html.twig' %}

{% block title %}StockOut index{% endblock %}

{% block body %}
    {{ include('navbar.html.twig') }}
    <h1>StockOut index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Date</th>
                <th>Quantity</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for stock_out in stock_outs %}
            <tr>
                <td>{{ stock_out.id }}</td>
                <td>{{ stock_out.product.name }}</td>
                <td>{{ stock_out.date ? stock_out.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ stock_out.quantity }}</td>
                <td>
                    <a href="{{ path('stock_out_show', {'id': stock_out.id}) }}">show</a>
                    <a href="{{ path('stock_out_edit', {'id': stock_out.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('stock_out_new') }}" class="btn btn-info">Create new</a>
{% endblock %}
