{% extends 'base.html.twig' %}

{% block title %}StockOut index{% endblock %}
    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
        <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-alpine.css">
    {% endblock %}

{% block body %}
    {{ include('navbar.html.twig') }}
    <div class="container">
        <h3 class=" text-dark p-2 mt-2">Products List</h3>
        <div class="d-flex justify-content-center mb-5 ">
            <div id="myGrid" data-url="{{ path('stock_out_grid') }}" class="ag-theme-alpine" style="height:300px;
        width:820px;"></div>
        </div>
    </div>

{#    <h1>StockOut index</h1>#}

{#    <table class="table">#}
{#        <thead>#}
{#            <tr>#}
{#                <th>Id</th>#}
{#                <th>Name</th>#}
{#                <th>Date</th>#}
{#                <th>Quantity</th>#}
{#                <th>actions</th>#}
{#            </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#        {% for stock_out in stock_outs %}#}
{#            <tr>#}
{#                <td>{{ stock_out.id }}</td>#}
{#                <td>{{ stock_out.product.name }}</td>#}
{#                <td>{{ stock_out.date ? stock_out.date|date('d-m-Y') : '' }}</td>#}
{#                <td>{{ stock_out.quantity }}</td>#}
{#                <td>#}
{#                    <a href="{{ path('stock_out_show', {'id': stock_out.id}) }}">show</a>#}
{#                    <a href="{{ path('stock_out_edit', {'id': stock_out.id}) }}">edit</a>#}
{#                </td>#}
{#            </tr>#}
{#        {% else %}#}
{#            <tr>#}
{#                <td colspan="4">no records found</td>#}
{#            </tr>#}
{#        {% endfor %}#}
{#        </tbody>#}
{#    </table>#}

{#    <a href="{{ path('stock_out_new') }}" class="btn btn-info">Create new</a>#}

    {% block javascripts %}
        {{ parent() }}
        <script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>
        <script>
            const columnDefs = [
                {headerName: "Id", field: "id", sortable:true, maxWidth: 90},
                {headerName: "Name", field: "name", sortable:true,},
                {headerName: "Date", field: "date", sortable:true,},
                {headerName: "Quantity", field: "quantity", sortable:true,maxWidth: 120},
            ];
            const gridOptions = {
                columnDefs: columnDefs,
                rowSelection:'multiple'
            };
            document.addEventListener('DOMContentLoaded', function() {
                const gridDiv = document.querySelector('#myGrid');
                new agGrid.Grid(gridDiv, gridOptions);
                agGrid.simpleHttpRequest({url: $('#myGrid').data('url')}).then(data=>{gridOptions.api.setRowData(data);
                })
            });
        </script>
    {% endblock %}
{% endblock %}
