{% extends 'base.html.twig' %}

{% block title %}StockOut index{% endblock %}

{% block body %}
    {{ include('navbar.html.twig') }}
    <h1>StockOut index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Product Type</th>
                <th>Date</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for i, stock_out in stock_outs %}
            <tr>
                <td>{{ i+1 }}</td>
                <td>{{ stock_out.product.name }}</td>
                <td>{{ stock_out.product.producttype }}</td>
                <td>{{ stock_out.date ? stock_out.date|date('d-m-Y')  }}</td>
                <td>{{ stock_out.quantity }}</td>
                <td>
                    <div class="dropdown dropdown-inline mr-4">
                        <button type="button" class="btn btn-light-primary btn-icon btn-sm " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="ki ki-bold-more-ver"></i>
                            <b>...</b>
                        </button>
                        <div class="dropdown-menu">
                            <div>
                                <a href="{{ path('stock_out_edit', {'id': stock_out.id}) }}">edit</a>
                            </div>
                            <div>
                                <a href="{{ path('stock_out_delete', {'id': stock_out.id}) }}">delete</a>
                            </div>

                        </div>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('stock_out_new') }}" class="btn btn-info">Create new</a>
{% endblock %}
