{% extends 'base.html.twig' %}

{% block title %}StockOut{% endblock %}

{% block body %}

    <h1>StockOut</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ stock_out.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ stock_out.date ? stock_out.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ stock_out.quantity }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('stock_out_index') }}">Back to list</a>
    {{ include('stock_out/_delete_form.html.twig') }}
{% endblock %}
