{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}
    {% block stylesheets %}
        {{ parent() }}
    {% endblock %}

{% block body %}

    <div class="container">
        <h3 class=" text-dark p-2 mt-2">Product List</h3>

        <a href="{{ path('product_new') }}" class="btn btn-info float-right m-2" style="margin-right:160px;">Create
            new</a>

        <div class="d-flex justify-content-center mb-2 mt-5 ">
            <div id="myGrid" data-url="{{ path('product_grid') }}" class="ag-theme-alpine" style="height:300px;
        width:620px;">
            </div>
        </div>
    </div>

    {# <a href="{{ path('stock_in_index') }}">Stock In</a> #}


{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('tools/agGrid/ag-grid-products.js') }}"></script>
    {% endblock %}

