{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}


    <h1>Product</h1>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>
                    <div class="dropdown dropdown-inline mr-4">
                        <button type="button" class="btn btn-light-primary btn-icon btn-sm " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="ki ki-bold-more-ver"></i>
                            <b>...</b>
                        </button>
                        <div class="dropdown-menu">
                            <div>
                                <a href="{{ path('product_edit', {'id': product.id}) }}">Edit</a>
                            </div>
                            <div>
                                <a href="{{ path('product_delete', {'id': product.id}) }}">Delete</a>
                            </div>
                        </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('product_new') }}" class="btn btn-info">Create new</a>
    <br>

{#    <a href="{{ path('stock_in_index') }}">Stock In</a>#}
{% endblock %}
