{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}


    <h1>Product</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}">Show /</a>
                    <a href="{{ path('product_edit', {'id': product.id}) }}">Edit</a>
                    <a href="{{ path('product_delete', {'id': product.id}) }}" >delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('product_new') }}" class="btn btn-info">Create new</a>
    <br>

    <script>
        $(document).ready(function(){


            $("#deleteButton").on('click',function() {
                var id = $(this).val();
                if(id) {
                    $.ajax({
                        url: "/product/" + id,
                        type: "DELETE",
                        data: {
                            "id": id,
                            "_token": token,
                        },
                        success: function (){
                            console.log("it Works");
                        }

                    });
                }
            });

        });
    </script>
{% endblock %}
