<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}


        {{ encore_entry_link_tags('app') }}
        <link href="{{ asset('datepicker/css/bootstrap-datepicker.min.css') }}" rel="stylesheet" />
    {% endblock %}


</head>
<style>
    .table {
        color: black;
    }
</style>
<body>

<div class="container">
    {% block body %}
    {% endblock %}
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}

    {{ encore_entry_script_tags('bootstrap') }}

{#    <script src="{{ asset('datepicker/js/bootstrap-datepicker.min.js') }}"></script>#}
    {{ encore_entry_script_tags('swal') }}


{% endblock %}
</body>
</html>
