{% extends 'base.html.twig' %}

{% block title %}ProductType index{% endblock %}

{% block body %}

    {{ include('navbar.html.twig') }}
    <h1>ProductType</h1>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>ID</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for i, product_type in product_types %}
            <tr>
                <td>{{ i+1 }}</td>
                <td>{{ product_type.id }}</td>
                <td>{{ product_type.type }}</td>
                <td>
                    <div class="dropdown dropdown-inline mr-4">
                        <button type="button" class="btn btn-light-primary btn-icon btn-sm " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="ki ki-bold-more-ver"></i>
                            <b>...</b>
                        </button>
                        <div class="dropdown-menu">
                            <div>
                                <a href="{{ path('product_type_edit', {'id': product_type.id}) }}" class=" btn btn-warning" >Edit</a>
                            </div>
                            <div>
                                <a href="{{ path('delete_product_type_ajax', {'id': product_type.id}) }}" id="{{ product_type.id }}"   class="delete btn btn-danger">Delete</a>


                            </div>

                        </div>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div id="myGrid"  data-url="{{ path('log') }}" style="height: 200px; width:500px;" class="ag-theme-alpine"></div>

    <a href="{{ path('product_type_new') }}" class="btn btn-info">Create new</a>
{% endblock %}
 {% block javascripts %}
     {{ parent() }}
     <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
     <script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.js"></script>
     <script>



         const gridOptions = {
             columnDefs: [
                 {headerName: "Type", field: "type", sortable: true, maxWidth: 70},
                 {headerName: "Description", field: "desc", sortable: true},
                 {headerName: "Date", field: "date", sortable: true}
             ],
             defaultColDef: {
                 flex:1,
                 editable: true
             },

         };

         document.addEventListener('DOMContentLoaded', function () {
             const gridDiv = document.querySelector('#myGrid');
             new agGrid.Grid(gridDiv, gridOptions);
             agGrid.simpleHttpRequest({url: $('#myGrid').data('url')}).then(data => {
                 gridOptions.api.setRowData(data);
             })
         });
         </script>
 {% endblock %}