{% extends 'base.html.twig' %}

{% block title %}Hello DownloadCsvController!{% endblock %}

{% block body %}

    {{ include('navbar.html.twig') }}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! </h1>

    Query Check
    <ul>


{#        {% for stock in query %}#}

{#            {{ stock.name }} <br>#}
{#            {{ stock.type }}#}


{#        {% endfor %}#}
        <div class="variance-report-form-container d-flex align-items-center">
            {{ form_start(form) }}

            <span class="d-none d-md-block mr-2">
          {{ form_widget(form.date) }}
     </span>

            {{ form_end(form) }}
            <span class="d-none d-md-block">
        <span title="Preview">

        </span>


    </span>
        </div>


    </ul>
</div>
{% endblock %}
